/**
*   CONTAINER
*/
main.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/**
*   DEBUG CONTAINER
*/
section[id^="debug_"] {
  /**
  * Display
  */
}

/**
*   DEBUG TICKER TABLE
*/
table.--ticker {
  min-width: 675px;
  margin: 1rem 0;
  /*BORDER*/
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  /*BKRND*/
  background-color: rgba(245, 240, 225, 0.8);
  /*FONT*/
  font-family: monospace;
  text-align: center;
  vertical-align: center;
  /*SHADOW*/
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}
/**
* TH, TD
*/
table.--ticker thead tr th,
table.--ticker tbody tr td {
  /*POSITION*/
  padding: 0.75rem;
  /*FONT*/
  font-family: monospace;
  color: #474747;
  font-size: 0.75rem;

}
table.--ticker thead tr th {
  /*BORDER*/
  border-bottom: 1px dashed #adadad;
}
table.--ticker tbody tr td:not(:last-of-type),
table.--ticker thead tr th:not(:last-of-type) {
  /*BORDER*/
  border-right: 1px dashed #adadad; 
}
table.--ticker thead tr th:hover,
table.--ticker tbody tr td:hover {
  /*USER*/
  user-select: none;
  /*BKRND*/

  /*FONT*/
}
/**
*   PATH CELL
*/
table.--ticker tbody tr td.--path table {
  /*BORDER*/
  border-collapse: collapse;
}
table.--ticker tbody tr td.--path table tr th {
    border-bottom: 1px dashed rgba(255, 0, 0, 0.4);
}
table.--ticker tbody tr td.--path table tr th,
table.--ticker tbody tr td.--path table tr td {
  /*POSITION*/
  position: relative;
  padding: 0.25rem;
  min-width: 1.25rem;
  /*BORDER*/
  border-right: 1px dashed rgba(255, 0, 0, 0.4);
  /*FONT*/
  font-family: monospace;
  color: #474747;
}
table.--ticker tbody tr td.--path table tr th:last-of-type,
table.--ticker tbody tr td.--path table tr td:last-of-type {
  border-right: 1px solid transparent;
}