/*----------------------------------------------------------*/
/**
* IMPORTS
*/
/*----------------------------------------------------------*/
@import url(./resets.css);
@import url(./rotors.css);
@import url(./plugboard.css);
@import url(./keyboard.css);
/*----------------------------------------------------------*/
/**
* CONSTANTS
*/
/*----------------------------------------------------------*/
:root {
  --radius: 4px;

  /**
  * COLORS
  */
  --color-font: #333;
  --color-font-nav: #fff;
  /**
  * PADDING
  */
  --padding-main: 1rem 0.5rem;
  /**
  * TRANSITIONS
  */
  --transition-rotor: all 0.25s ease-in-out;
}
/*----------------------------------------------------------*/
/**
* ALL
*/
/*----------------------------------------------------------*/
* {
  box-sizing: border-box;
}
/*----------------------------------------------------------*/
/**
* STYLES
*/
/*----------------------------------------------------------*/
body {
  /**
  * position
  */
  margin: 0;
  padding: 0;
  /**
  * font
  */
  font-family: sans-serif;
  /**
  * display
  */
}
/*----------------------------------------------------------*/
/**
* HEADER
*/
/*----------------------------------------------------------*/
header {
  /**
  * position
  */
  padding: var(--padding-main);
  /**
  * font
  */
  color: var(--color-font);
}
/*----------------------------------------------------------*/
/**
* NAV
*/
/*----------------------------------------------------------*/
nav {
  margin: 0;
  padding: 0.5em;
  background-color: var(--color-font);
}  
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  color: var(--color-font-nav);
  padding: 0.5em 1em;
}
/*----------------------------------------------------------*/
/**
* MAIN
*/
/*----------------------------------------------------------*/
main {
  /**
  * Display
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /**
  * Position
  */
  padding: var(--padding-main);
}
/*----------------------------------------------------------*/
/**
* SECTION
*/
/*----------------------------------------------------------*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------------------------------------------*/
/**
* FOOTER
*/
/*----------------------------------------------------------*/
footer {
  background-color: var(--color-font);
  color: var(--color-font-nav);
  text-align: center;
  padding: var(--padding-main);
}
/*----------------------------------------------------------*/
/**
* MEDIA QUERIES
*/
/*----------------------------------------------------------*/
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Arrange items horizontally */
    flex-wrap: nowrap; /* Prevent wrapping by default */
  }

  main {
    flex-grow: 1; /* Allow main content to expand */
  }

  .sidebar {
    width: 200px; /* Example fixed width for sidebar */
  }
}