/**
*   RINGSTELLUNG
*/
article#ringstellung {
  /**
  * Display
  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/**
*   ROTOR
*/
div.rotor__window {
  --window-size: 1.75rem;
  /**
  * User
  */
  user-select: none;
  cursor: pointer;
  /**
  * Position
  */
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  width: var(--window-size);
  height: var(--window-size);
  /**
  * Border
  */
  border: 1px solid var(--color-font);
  border-radius: var(--radius);
}
/**
* LETTERS
*/
div.rotor__letters {
  /**
  * Display
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /**
  * Border
  */
  border: 1px solid red;
  /**
  * Animation
  */
  transition: var(--transition-rotor);
  /**
  * Font
  */
  font-size: 1rem;
}