/**
*   RINGSTELLUNG
*/
article#ringstellung {
  /**
  * Display
  */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/**
*   ROTOR
*/
div[id^="rotor__"] {
  /**
  * User
  */
  user-select: none;
  cursor: pointer;
  /**
  * Display
  */
  /**
  * Radius
  */
  border: 1px solid var(--color-font);
  border-radius: var(--radius);
  /**
  * Position
  */
  margin: 0.5rem;
  padding: 0.5rem;
  /**
  * Font
  */
  /**
  * Animation
  */
  transition: var(--transition-rotor);
}