/**
*   SETTINGS: GRID
*/
article.settings__grid {
    /**
    *   User
    */
    /**
    *   Position
    */
    /**
    *   Display
    */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    /**
    *   Border
    */
}

/**
*   GRID ITEM | ARTICLE ROW
*/
article.settings__row,
.settings__grid--item {
    /**
    *   Display
    */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/**
*   GRID ITEM
*/
.settings__grid--item {
    grid-column: span 1;
}

/**
*   GRID ITEM SELECT | ROW SELECT | INPUT
*/
.settings__row input[type="text"],
.settings__row select,
.settings__grid--item select {
    /**
    *   Position
    */
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem;
    /**
    *   Font
    */
    font-family: var(--font-secondary);
    font-size: var(--font-size-secondary);
    text-align: center;
    /**
    *   Animation
    */
    transition: all 0.25s ease-in-out;
}